<p><%= @form.name %>'s Application for Pet Adoption<p>

<p><%= "Name of Applicant: #{@form.name}"%><p>
<p><%= "Street Address: #{@form.street_address}"%><p>
<p><%= "City: #{@form.city}"%><p>
<p><%= "State: #{@form.state}"%><p>
<p><%= "Zip Code: #{@form.zip_code}"%><p>

<%= "Application Status: #{@form.status}" %>
<br><br>
<h3>Names of Pets:</h3>
  <% @pets.each do |pet|  %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>

    <% if @form.status == "Pending" %>
        <%= button_to "Approve Application", "/admin/forms/#{@form.id}", method: :patch, params: { status: "Accepted" } %>
        <br>
        <%= button_to "Reject Application", "/admin/forms/#{@form.id}", method: :patch, params: { status: "Rejected" } %>
      <% elsif @form.status == "Accepted" %>
        <br><br>
        <%= "#{pet.name}'s application has been successfully accepted!!" %>
        <br><br>
        <% elsif @form.status == "Rejected" %>
        <br><br>
        <%= "#{pet.name}'s application has been rejected." %>
        <br><br>
    <% end %>

  <% end %>
